*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

html,body{
    height: 100%;
    width: 100%;
}

#page{
    position: relative;
    /* overflow: hidden; */
    height: 100vh;
    width: 100vw;
    background-color: #000;
}

#page>nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    height: 10vh;
    width: 50vw;
    position: absolute;
    background-color: #000;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    color: #fff;
   
}

#page>nav>button{
    padding: 7px 20px;
    border-radius: 50px;
    background-color: #fff;
    border: none;
}

#page>nav>h3{
    font-weight: 500;
    }
#page>video{
    height: 100%;
    width: 50%;
    object-fit: cover;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

#page-bottom{
    
}

#page1{
    position: relative;
    /* overflow: hidden; */
    height: 100vh;
    width: 100vw;
    background-color: #fff;
}

