*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

html,body{
    height: 100%;
    width: 100%;
}

#page{
    position: relative;
    /* overflow: hidden; */
    height: 100vh;
    width: 100vw;
    background-color: #000;
}

#page>nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    height: 10vh;
    width: 50vw;
    position: absolute;
    /* background-color: #000; */
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    color: #fff;
   
}

#page>nav>button{
    padding: 7px 20px;
    border-radius: 50px;
    background-color: #fff;
    border: none;
}

#page>nav>h3{
    font-weight: 500;
    }
#page>video{
    height: 100%;
    width: 50%;
    object-fit: cover;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

#page-bottom{
    height: 20%;
    width: 25%;
    /* background-color: green; */
    position: absolute;
    bottom: 5%;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
#page-bottom>h3{
  color: #dadadd93;
  margin-bottom: 1vw;
}

#page1{
    position: relative;
    /* overflow: hidden; */
    height: 100vh;
    width: 100vw;
    background-color: #fff;
}


#page1>video{
    height: 100%;
    width: 100%;
    object-fit: cover;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

#page1>h1{
   font-size: 3vw;
   font-weight: 400;
    position: absolute;
    bottom: 20%;
    color: #fff;
    left: 50%;
    transform: translateX(-50%);
    white-space: nowrap;
  } 

  #page2{
    position: relative;
    height: 100vh;
    width: 100vw;
  }

  #page2>video{
    position: relative;
    height: 100%;
    width: 100%;
    object-fit: cover;
    /* position: absolute; */
    /* left: 50%; */
    /* transform: translateX(-50%); */
  }

  #page2>h1{
   font-size: 4vw;
   color: #fff;
   position: absolute;
   bottom: 20%;
   left: 50%;
   transform: translateX(-50%);
   text-align: center;
   white-space: nowrap;
  }

  #page3{
    height: 100vh;
    width: 100vw;
    position: relative;
    background-color: #fff;
  }

  #page3>img{
    position: absolute;
    /* height: 50%; */
    width: 50%;
    top: 60%;
    left: 50%;
    transform: translate(-50%,  -50%);
  }

  #page3-upper{
    height: 30%;
    width: 35%;
    /* background-color: green; */
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 5%;
    z-index: 9;
  }

  #page3-upper>img{
    position: absolute;
    left: 50%;
    top: 10%;
    transform: translateX(-50%);
    width: 70%;
  }

  #page3-upper-inner{
    position: absolute;
    height: 60%;
    width: 100%;
    bottom: 0%;
    /* left: 50%; */
    /* transform: translateX(-50%); */
    /* background-color: blue; */
    color: #FF5A00;
   display: flex;
   justify-content: space-between;
   align-items: center;
   padding: 0 100px;

  }

  #page3-upper-inner>h3{
    
    font-weight: 500;
  }  

  #page3>button{
    position: absolute;
    bottom: 7%;
    left: 50%;
    transform: translateX(-50%);
    font-size: 1.4vw;
    font-weight: 300;
    padding: 20px 30px;
    border-radius: 50px;
    background-color: #fff;
    border: 1px solid black;
    transition: 0.5s;
  }

  #page3>button:hover{
    background-color: #000;
    color: white;
  }

  #page4{
    position: relative;
    height: 100vh;
    width: 100vw;
  }

  #page4>video{
    height: 100%;
    width: 100%;
    object-fit: cover;
    position: absolute;
    filter: brightness(0.5);
  }

  #center-page4{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    justify-content: center;
    font-size: 2.5vw;
    color: #fff;
    white-space: nowrap;
  }


  #page5{
    position: relative;
    height: 60vh;
    width: 100vw;
    background-color: #f5f5f7;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
  }

  .left5{
    /* position: absolute; */
    height: 100%;
    width: 50%;
    /* background-color:blue ; */
  }

  .left5>h1{
    position: absolute;
    top: 15%;
    left: 28%;
    transform: translateX(-50%);
    color: #000000e7;
    font-size: 2.2vw;
  }

  .right5{
    /* position: absolute; */
    height: 100%;
    width: 50%;
    /* background-color: pink; */
  }

  .right5>h3{
    position: absolute;
    top: 15%;
    width: 35%;
    font-size: 1.4vw;
    color: #86868b;
  }

  .right5>button{
    position: absolute;
    bottom: 30%;
    font-size: 1.4vw;
    padding: 10px 20px;
    border: none;
    border-radius: 50px;
    background-color: #ff5900cf;
    color: #fff;
    transition: 0.5s;
  }

  .right5>button:hover{
    background-color: #ff5900;
  }

